@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --font: #181A2A;
  --subfont: #3B3C4A;
  --technology: #4B6BFB0D;
  --writer: #97989F;
  --advertisment: #696A75;
  --searchbox: #F4F4F5;
}

body {
  color: var(--foreground);
  background: var(--background);
}